.bg1{
    background-image: url('../p1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
::placeholder{
    font-size: 15px;
    text-align: center;
    margin: auto;
    padding-top: 3px;
   
}
.bg22{
    background-image: url('../—Pngtree—clean\ watercolor\ splash\ company\ profile_1441179.png');
    background-repeat: no-repeat;
    background-size: cover ;
}
.myblogCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.svgdlt{
    border-radius: 18px;
    box-shadow: -1px 2px 5px 0px;
}
